<!DOCTYPE html>
<html ng-app="CvApp" ng-controller="LandingPageController">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Portfolio of Programmer Per Jonsson" />
    <title ng-bind="models.title"></title>
    @Styles.Render("~/bundles/css")
</head>

<body ng-cloak>
    <!-- TODO: SPLASH ng-if -->
    <a href="/#/values">Home</a>

    <!-- -->
    <div ng-view ng-if="true"></div> <!--  -->
    @Scripts.Render("~/bundles/js")
</body>
</html>